# Deployed InstallShield contract on the GenLayer network.
# Explorer: https://explorer-studio.genlayer.com/address/0x6EBEfd2BB45Fa2D9077e6E34484224f0b8738667
VITE_INSTALL_SHIELD_ADDRESS=0x6EBEfd2BB45Fa2D9077e6E34484224f0b8738667
